.cart {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  text-decoration: none;
}

.categoryId {
  min-width: 20%;
  margin-right: 10px;
}
.itemId {
  min-width: 20%;
  margin-right: 10px;
}
.button {
  min-width: 20%;
  margin-right: 10px;
}
