.container {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 10%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
}
.header h1 {
  font-size: 25px;
  font-weight: 600;
}

.cancel_button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: none;
}
.cancel_button:hover {
  border-radius: 5px;
  background-color: gainsboro;
}

.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
.continue {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
.totalPrice_right {
  border: 1px solid var(--blue);
  background-color: var(--blue10);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  width: 30%;
  height: 100%;
  gap: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.totalPrice_right h1 {
  width: 30%;
  text-align: center;
}
.totalPrice_right button {
  width: 60%;
  height: 45px;
}
