.container {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 10%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
}

.cancel_button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  box-sizing: border-box;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
}

.top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.image {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.title {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
}
.bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.amount {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.price {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.totalPrice {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
.continue {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}
.totalPrice_right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
