.cart::before {
  content: "";
  position: absolute;
  width: 100%;
  left: -75%;
  height: 100%;
  z-index: 0;
  background-color: rgba(3, 196, 255, 1);
}
.cart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  right: -75%;
  height: 100%;
  z-index: 0;
  background-color: rgba(3, 196, 255, 1);
}

.cart {
  width: 100%;
  background-color: rgba(3, 196, 255, 1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  z-index: 5;
  padding: 10px;
}

.left {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 0px) {
  .cart {
    display: none;
  }
}

@media (min-width: 1020px) {
  .cart {
    display: block;
  }
}
