.signup {
  width: 8%;
}

.mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: scale 0.2s ease-in-out;
}

.mainbox:hover {
  scale: 1.1;
}

.mainbox button {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
}
