.cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}
.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
