.modal {
  background-color: white;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  /* min-height: 70%; */
  z-index: 100;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header {
  margin: 15px 0;
  font-size: larger;
  font-weight: 600;
}

.main {
  width: 100%;
  margin: 15px 0;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_continue,
.footer_continue span,
.footer_continue button {
  margin: 0 15px;
}

.footer_continue {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
