.signup {
  margin: 5px;
  padding: 15px;
  /* width: 25%; */
  /* height: 25%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login button {
  width: 100%;
  font-size: 13px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
.login button:hover {
  cursor: pointer;
  background-color: rgb(209, 202, 202);
}
