.cart {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}

.cart_image {
  width: 50%;
  height: 560px;
  box-shadow: 0px 0px 3px 1px rgba(71, 71, 71, 0.274);
  display: flex;
  align-content: center;
  justify-content: center;
}
.image {
  width: 100%;
  height: 100%;
}

.information_container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  box-sizing: border-box;
}

.title_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  font-size: 25px;
  font-weight: 600;
}

.rate_and_code_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.rate {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue);
}
.rate:hover {
  text-decoration: underline;
  color: var(--red);
  text-decoration-thickness: 1px;
}
.rate span {
  font-size: 20px;
}
.rate p {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 700;
}
.code_container {
  display: flex;
  align-items: center;
}
.code_container span {
  font-size: 12px;
  color: var(--grey);
}

.price_buy_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.price {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.price div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite {
  padding: 5px;
  border-radius: 15%;
}
.favorite:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.isStock {
  color: var(--blue);
}

.outStock {
  color: var(--grey);
}

.buy {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.detailsContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.description_container {
  margin-bottom: 10px;
}
.commentsContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
