.cart {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.rate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 25px;
}
