.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.297);
  border-right: 1px solid rgba(0, 0, 0, 0.297);
  border-left: 1px solid rgba(0, 0, 0, 0.297);
  width: calc(100% / 3);
  z-index: 1;
}

.container:hover {
  box-shadow: 0px 35px 20px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.container:hover ::after {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 5%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}
.container:hover ::before {
  content: "";
  position: absolute;
  top: 0;
  right: -5%;
  width: 5%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.info_box {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
  margin-bottom: var(--default-bottom-marign);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.title:hover h1 {
  color: var(--blue);
  text-decoration: underline;
}
.comments {
  width: 100%;
  text-decoration: none;
  color: var(--black);
  margin-bottom: var(--default-bottom-marign);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments:hover span {
  color: var(--red);
  text-decoration: underline;
}
.comments:hover {
  color: red;
}

.price {
  font-size: 20px;
}

@media (min-width: 0px) {
  .container {
    width: calc(100% / 1);
  }
  .comments {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 830px) {
  .container {
    width: calc(100% / 2);
  }
}

@media (min-width: 950px) {
  .container {
    width: calc(100% / 3);
  }
  .comments {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1320px) {
  .container {
    width: calc(100% / 4);
  }
}
