.cart::before {
  content: "";
  position: absolute;
  width: 6%;
  left: -6%;
  height: 100%;
  z-index: 0;
  background-color: rgba(3, 196, 255, 1);
}
.cart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 6%;
  right: -6%;
  height: 100%;
  z-index: 0;
  background-color: rgba(3, 196, 255, 1);
}

.cart {
  width: 90%;
  background-color: rgba(3, 196, 255, 1);
  position: relative;
  z-index: 2;
}

@media (min-width: 700px) {
  .cart {
    display: none;
  }
}

@media (min-width: 1055px) {
  .cart {
    display: block;
  }
}

@media (min-width: 1230px) {
  .cart {
    display: block;
  }
}

.mobile {
  display: flex;
  width: 100%;
  min-height: 56px;
  background-color: rgba(3, 196, 255, 1);
}
.left {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid red;
  background-color: #5a616e;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.right {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid red;
}

@media (min-width: 700px) {
  .mobile {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1055px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 1230px) {
  .mobile {
    display: none;
  }
}
.back {
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100%;
}
.background {
  position: fixed;
  background-color: rgba(26, 28, 28, 0.444);
  /* top: 0; */
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.catalog {
  background-color: white;
  width: 30%;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  /* top: 0; */
  left: 0;
  z-index: 2;
}

.fade_slide_enter_active {
  animation: fadeIn 0.3s ease-out;
}
@keyframes fadeIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.fade_slide_exit_active {
  animation: fadeOut 0.3s ease-out;
}
@keyframes fadeOut {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
