/* main-products*/

.products_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 500px;
  /* border: 1px solid red; */
}

/* main-products-list */

.product_list_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid rgba(128, 128, 128, 0.438);
}

.products_list_name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.products_list_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.products_list_name_text {
  width: 100%;
  font-size: 3em;
  font-family: "Dancing Script";
  font-weight: 500;
}

/* main products */

.products_list_products {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
}

.find {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.find_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.find_box_text {
  display: flex;
  width: 75%;
  margin: 10px 0 0 2px;
  color: rgb(0, 170, 255);
  font-weight: 600;
}
.find_box_option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  margin: 0 0 10px 2px;
}

.find_box_option div span {
  margin-left: 5px;
}

.list {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.sort_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sort {
  width: 100%;
  margin-left: 5%;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(128, 128, 128, 0.438);
  border-top: 2px solid rgba(128, 128, 128, 0.438);
}

.sort_left {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.sort_right {
  display: flex;
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.products {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.product {
  margin: 15px 15px 15px 15px;
  width: 30%;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(37, 35, 35, 0.651);
}

.product:nth-child(3n) {
  margin: 15px 0 15px 15px;
}

.product_image {
  width: 90%;
  height: 250px;
  border-radius: 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 15px; */
}

.image {
  width: 100%;
  height: 125%;
}

.link {
  text-decoration: none;
  color: rgb(55, 180, 180);
}

.product_text {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}

.product_text_code {
  width: 100%;
  color: grey;
  font-size: 0.8em;
}
.product_text_title {
  width: 100%;
  color: rgb(55, 180, 180);
  font-size: 1.7em;
  font-weight: 600;
}
.product_text_price {
  width: 100%;
  color: rgb(252, 1, 1);
  font-size: 1.7em;
  font-weight: 600;
}
