.background {
  position: fixed;
  background-color: rgba(26, 28, 28, 0.444);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
