.cart {
  /* border: 1px solid red; */
  width: 25%;
  height: 10%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.block {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
.link:hover {
  color: rgb(3, 103, 253);
}
