.cart {
  width: 90%;
  display: flex;
  margin: 25px 0 25px 0;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  border: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin: 5px 0 5px 0;
  min-height: 75px;
}

.info {
  display: flex;
  width: 70%;
}
.number {
  width: 5%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 0;
  border-right: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
}

.title {
  width: 20%;
  font-size: 1em;
  display: flex;
  word-break: break-all;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: black;
  border-right: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
}

.code {
  width: 10%;
  font-size: 1em;
  padding: 5px;
  display: flex;
  word-break: break-all;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
}

.price {
  width: 10%;
  font-size: 1em;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
}
.description {
  width: 55%;
  padding: 5px 10px;
  font-size: 1em;
  word-break: break-all;
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
}

.actions {
  display: flex;
  align-items: center;
  width: 30%;
}

.inStock {
  width: 10%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions button {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  height: 50%;
}
.actions span {
  box-sizing: border-box;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  border-left: 1px solid rgb(58, 57, 57);
  box-sizing: border-box;
}
