.find {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.title {
  display: flex;
  width: 75%;
  margin: 10px 0 0 2px;
  color: rgb(0, 170, 255);
  font-weight: 600;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  margin: 0 0 10px 2px;
}

.options div span {
  margin-left: 5px;
}
