.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
}
.title {
  display: flex;
  width: 100%;
  color: var(--blue);
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.available {
  padding: 5px;
  box-sizing: border-box;
}
.available:hover {
  color: var(--blue);
}
.outStock {
  padding: 5px;
  box-sizing: border-box;
}
.outStock:hover {
  color: var(--blue);
}

.options input {
  scale: 1.3;
  cursor: pointer;
}
.options label {
  cursor: pointer;
}

.options span {
  margin-left: 5px;
}
