.container {
  width: 100%;
  display: flex;
}

.links {
  width: 25%;
  border-right: 1px solid gainsboro;
}

.link {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px 0;
}

.cart {
  width: 95%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s ease-out;
}

.cart:hover {
  background-color: gainsboro;
}

.info {
  width: 75%;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
}
