.form {
  width: 100%;
}

.paramsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.error {
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
