.shop {
  width: 50%;
  margin: 5px;
  padding: 10px;
  /* border: 1px solid red; */
  flex-grow: 1;
}

.shop span {
  display: flex;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
